@import "./quasar.variables.scss";
@import "~quasar-styl";
@import '~quasar-addon-styl';

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #001737;
  text-align: left;
  background-color: #fff;
}

.q-placeholder::placeholder {
  color: #c0ccda;
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}
