// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #0168fa;
$secondary: #7987a1;
$accent: #cdd5e6;

$dark: #3b4863;

$positive: #10b759;
$negative: #dc3545;
$info: #00b8d4;
$warning: #ffc107;

@import "~quasar-variables-styl";
